/* Google Font */
/* @import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;700&display=swap"); */

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Overpass", sans-serif;
}

* {
    box-sizing: border-box;
}

.hor-sizer {
    background-color: #4286f4;
    height: 2px !important;
}

.vert-sizer {
    background-color: #4286f4;
    width: 2px !important;
}

.resizer {
    width: 10px !important;
    height: 10px !important;
    border-radius: 15%;
    background: white;
    border: 2px solid #4286f4;
}